html, body {
    font-family: Helvetica;
    font-size: 22px;
    background-color: #f0d7b1;
    height: 1000px;
    margin: 0;
    padding: 0;
}

header nav {
    height: 69px;
    background-color: aqua;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0%;
    
}

header nav img {
    height: 69px;
}

.links {
    display: flex;
    gap: 20px;
}

.links a{
    color: rgb(254, 254, 254);
    font-family: fantasy;
}

.links a:hover{
    color: #55bdba;
}
