html, body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    background-color: #f0d7b1;
    height: 1000px;
    margin: 0;
    padding: 0;
}

header nav {
    height: 69px;
    background-color: rgb(184, 101, 37);

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0%;
    
}

header nav img {
    height: 69px;
}

.links {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.links a{
    color: rgb(254, 254, 254);
    font-family: 'Times New Roman', Times, serif;
    border-color: white;
    border-radius: 15%;
    font-size: x-large;
}

.links a:hover{
    color: #ff7433;
}

button {
    background-color: rgb(237, 152, 214);
    border-color: pink;
}

.framside{ 
    padding-top: 85px;

    display: flex; 
    justify-content: center;
    align-items: center;
}

.headline{
    display: flex;
    justify-content: center;

}

.bilde1 {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.caption {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main h2{
    padding-left: 350px;
    padding-top: 15px;
}

.oversikt {
    text-align: center;
}

.oversikt ul{
    display: inline-block;
    text-align: left;
}





/* for pc */
@media (max-width: 1440px){

}