html, body{
    background-color: #e0858e;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

nav {
    background-color: #c9b749;
    height: 100px;
    
    

    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    position: fixed;
    top: 0%;
}

.linker{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

button{
    background-color: #d2c256;
    border-color: #c1af3d;
    border-radius: 10px;

}

.linker a {
    font-size: xx-large;
    color: rgb(255, 56, 185);
    text-decoration: none;
    width: 100%;
    
}
