html, body{
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    background-color: pink;
    margin: 0%;

    /* overflow-x: hidden; 
    overflow-y: auto;  */
}


nav, main, .sidebar, .boks1, .boks2, .boks3, .boks4, footer {
    border-radius: 10px;
}


.sider {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-areas: 
        "Navbar Navbar Navbar Navbar"
        "sidebar mainbar mainbar mainbar"
        "sidebar mainbar mainbar mainbar"
        "boks1 boks2 boks3 boks4"
        "boks1 footer footer footer";
    gap: 20px;
    min-height: 100%;
    justify-content: center;
       
          
    gap: 20px; 
    height: 100%;
}

nav {
    background-color: purple;
    grid-area: Navbar;
    
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

main{
    background-color: orange;
    grid-area: mainbar;
    
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 15px;

}

.sidebar {
    background-color: rgb(76, 76, 185);
    grid-area: sidebar;
}

.boks1{
    background-color: white;
    grid-area: boks1;
}

.boks2 {
    background-color: green;
    grid-area: boks2; 

}

.boks3 {
    background-color: darkorchid;
    grid-area: boks3;
}

.boks4{
    background-color: aqua;
    grid-area: boks4;
}

footer{
    background-color: magenta;
    grid-area: footer;
}

@media only screen and (max-width: 990px) {
    .sider {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "Navbar  Navbar"
            "sidebar mainbar"
            "sidebar mainbar"
            "boks1   boks2"
            "boks3   boks4"
            "footer  footer";


            /* "Navbar"
            "sidebar"
            "mainbar"
            "boks1"
            "boks2"
            "boks3"
            "boks4"
            "footer"; */



    
    }




}
    

