html, body{
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    background-color: pink;
    margin: 0%;

}


nav, main, .sidebar, .boks1, .boks2, .boks3, .boks4, footer {
    border-radius: 10px;

}

nav, a{
    background-color: brown;
}

.sider {
    padding: 10px;
    gap: 20px;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "n n n n"
    "s m m m"
    "s m m m"
    "e e h h"
    "d d g g"
    "f f f f";
     
}

nav { grid-area: n; background-color: yellow;}
main { grid-area: m; background-color: purple;}
.sidebar {grid-area: s;background-color: white;}
.boks1 {grid-area: e; background-color: blue;}
.boks2 {grid-area: h; background-color: aqua;}
.boks3 {grid-area: d; background-color: brown;}
.boks4 {grid-area: g; background-color: rgb(177, 62, 81);}
footer {grid-area: f; background-color: coral;}

@media only screen and (max-width: 400px){
    .sider{
        display: grid;
        gap: 10px;
        grid-template-rows: repeat(2, 1fr);
        grid-template-rows: repeat(11, 1fr);
        grid-template-areas:
        "n n"
        "s s"
        "s s"
        "m m"
        "m m"
        "e e"
        "h h"
        "d d"
        "g g"
        "f f"
        "f f";

    }

}


