
#hoved{
    width: 1500px;
    height: 2000px;
    border-radius: 250px;
    display: grid;
    gap: 20px; 
    background-color: pink;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    
    grid-template-areas: 
    "v v v v v h h h h h h"
    "v v v v v h h h h h h"
    "v v v v v h h h h h h"
    "v v v v v h h h h h h"
    "v v v v v h h h h h h"
    "v v v v v h h h h h h";
}

#hoved > div {
    background-color: rgb(196, 126, 149);
    border: 1px purple; 

}


/* .topp    { grid-area : t; } */
.hoyre { grid-area : h; }
.venstre   { grid-area : v; }