/* style.css */
body {
  margin: 0;
  background: #e0f7ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  position: relative;

  background-image: url("/Julestemning/bilder/julenisse2.webp"); 
            background-repeat: no-repeat; 
            background-size: cover;
            background-attachment: fixed; 
}
#timer {
  position: absolute;
  top: 60px;
  left: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #006;
}
body {
  margin: 0;
  background: #e0f7ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}
canvas {
  background: #b3e5fc;
  border: 3px solid #c00;
  border-radius: 10px;
  margin-top: 20px;
}
#score {
  font-size: 24px;
  font-weight: bold;
  color: #d00;
  text-shadow: 1px 1px 2px #fff;
  margin-bottom: 10px;
}
#buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px; 
  display: flex;
  gap: 10px;
}
button {
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background: #d00;
  color: white;
  cursor: pointer;
}
button:hover {
  background: #a00;
}


