html, body{
    background-color: pink;
}

nav {
    background-color: rgb(144, 213, 252);
    padding: 2rm;
    height: 100px;

    display: flex; 
    justify-content: space-around;
    gap: 15px;
    position: fixed;
    top: 0%; 
    width: 100%;
}

div a img{
    height: 100px;
    
}

.linker {
    display: flex;
    align-items: center;
    gap: 300px;
}

.linker a {
    background-color: #F67964;
    border-radius: 5px;
    padding: 20px;
    font-size: x-large;
    color:#f54121;
    text-decoration: none;

}

a:hover{
    background-color: rgba(11, 162, 250, 0.863);
}