html, body{ 
    /* height:10px; 
    margin: 10px; */
}

body { 
    padding: 20px;
    background-color: rgb(246, 179, 128);

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 1rem;
}

article { 
    width: 400px;
    height: 400px;
    background-color: rgb(172, 95, 13);

}

article h1 { 
    text-align: center;
    font-size: 1.5rem;
}

article figure img {
    display: block;
    width: 100%;
}


button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer; 
    border-color: pink;
    background-color: rgb(255, 183, 241);
    margin-top: 2rem;
}